@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,700i');
@import "neat/neat";
@import 'mixins';
@import 'forms';

*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: $blue;
  margin: 0;
  color: #fff;
}
